html, body{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.button-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.button-container > button {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}