html, body{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.button-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.rps-image {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.computer-choice-section {
    display: flex;
    min-height: 70px;
    width: 300px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.player-name {
    margin-top: auto;
    margin-bottom: auto;
}

.score-sheet {
    width: 300px;
    padding-bottom: 50px;
}

.player-score-section {
    display: flex;
    justify-content: space-between;
}